<div class="row">

    <div ng-show="box" class="row">
        <h3>Box</h3>

        <form name="frmBox" class="form-horizontal well" role="form">
            <div class="form-group">
                <label class="col-md-2 col-lg-2 control-label" for="box-loc">Location</label>
                <div class="col-md-3 col-lg-3">
                    <select id="box-loc" class="form-control" ng-model="boxUpdate.location" ng-options="id as loc.desc for (id, loc) in utilTypes.locations" required="">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-lg-2 control-label" for="box-barcode">Barcode</label>
                <div class="col-md-5 col-lg-5">
                    <input type="text" class="form-control" id="box-barcode" ng-model="boxUpdate.barcode" value="{{box.barcode}}">
                    <p class="help-block">Please enter numeric barcode as printed</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-lg-2 control-label" for="box-desc">Description</label>
                <div class="col-md-6 col-lg-6 controls">
                    <textarea class="form-control" id="box-desc" name="box-desc" rows="3" ng-model="boxUpdate.desc" placeholder="Description" required="">{{box.desc}}</textarea>
                </div>
            </div>
            <hr>
            <div class="form-actions">
                <a href="#/"><button ng-click="save()" ng-disabled="frmBox.$invalid" type="submit" class="btn btn-primary">Save changes</button></a>
                <a href="#/"><button type="reset" class="btn">Cancel</button></a>
            </div>
        </form>
    </div>

    <div ng-show="!isNew" class="row">

        <h3>Box content</h3>
        <hr>

        <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/box/{{boxid}}/doc/add">
                        <span class="glyphicon glyphicon-plus"></span> Add Doc</a>
                    </li>
                </ul>
            </div>
        </nav>

        <table ng-show="box.docs" class="table table-bordered table-striped box-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Create</th>
                    <th>Location</th>
                    <th>Dept</th>
                    <th>Checked out by</th>
                    <th>Checkout date</th>
                    <!--<th>Destroyed</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, doc) in box.docs">
                    <td><a href="#/box/{{boxid}}/doc/{{id}}">{{doc.desc}}</a></td>
                    <td>{{doc.created | date:shortDate}}</td>
                    <td>{{doc.location | lookup:'loc'}}</td>
                    <td>{{doc.dept | lookup:'dept'}}</td>
                    <td>{{doc.checkoutby | lookup:'emp'}}</td>
                    <td>{{doc.checkout | date:shortDate}}</td>
                    <!--<td>{{doc.destroyed | date:shortDate}}</td>-->
                </tr>
            </tbody>
        </table>

    </div>

</div>