<h3>Box | Document </h3>
<form name="frmDoc" class="form-horizontal well" role="form">
    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-doctype">Document type</label>
        <div class="col-sm-6 col-md-6">
            <select class="form-control" id="doc-doctype" name="doc-doctype" ng-model="docUpdate.doctype" ng-options="id as dt.desc for (id, dt) in utilTypes.doctypes" required="">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-desc">Description</label>
        <div class="col-sm-10 col-md-10 controls">
            <textarea class="form-control input-xlarge" id="doc-desc" name="doc-desc" rows="3" ng-model="docUpdate.desc" placeholder="Description" required="">{{doc.desc}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sd-2 col-md-2">Created {{doc.created|date:shortDate}}</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-location">Location</label>
        <div class="col-sm-4 col-md-4">
            <select class="form-control" id="doc-location" name="doc-location" ng-model="docUpdate.location" ng-options="id as loc.desc for (id, loc) in utilTypes.locations" required="">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-dept">Dept</label>
        <div class="col-sm-3 col-md-3">
            <select class="form-control" id="doc-dept" name="doc-dept" ng-model="docUpdate.dept" ng-options="id as dept.desc for (id, dept) in utilTypes.departments" required="">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-checkoutby">Checked out by</label>
        <div class="col-sm-3 col-md-2">
            <select class="form-control" id="doc-checkoutby" name="doc-checkoutby" ng-model="docUpdate.checkoutby" value="{{doc.checkoutby}}" ng-options="id as emp.name for (id, emp) in utilTypes.employees">
                <option value="">Select ...</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 col-md-2" for="doc-checkout">Checkout</label>
        <div class="col-sm-3 col-md-3">
            <input type="date" class="form-control" id="doc-checkout" name="doc-checkout" placeholder="Checkout" ng-model="docUpdate.checkout" value="{{doc.checkout|date:shortDate}}">
        </div>

        <label class="col-sm-2 col-md-2" for="doc-checkin">Checkin</label>
        <div class="col-sm-3 col-md-3">
            <input type="date" class="form-control" id="doc-checkin" name="doc-checkin" placeholder="Check in" ng-model="docUpdate.checkin" value="{{doc.checkin|date:shortDate}}">
        </div>
    </div>

    <div class="form-group alert alert-danger">
        <label class="col-sm-2 col-md-2" for="doc-destroyed">Destroyed</label>
        <div class="col-sm-3 col-md-3">
            <input type="date" class="form-control" id="doc-destroyed" name="doc-destroyed" placeholder="Destroyed" ng-model="docUpdate.destroyed" value="{{doc.destroyed|date:shortDate}}">
        </div>
    </div>

    <div class="form-actions">
        <a href="#/box/{{boxid}}">
            <button ng-click="update()" ng-disabled="frmDoc.$invalid" type="submit" class="btn btn-success">Save changes</button>
        </a>
        <a href="#/box/{{boxid}}">
            <button type="reset" class="btn">Cancel</button>
        </a>
    </div>
</form>