<div class="row">

    <div class="row">

        <h3>Resources | {{resourceType}}</h3>
        <hr>

        <nav ng-show="!isNew" class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/resources/{{resourceType}}/add">
                        <span class="glyphicon glyphicon-plus"></span> Add</a>
                    </li>
                </ul>
            </div>
        </nav>

        <table class="table table-bordered table-striped box-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!isNew && list" ng-repeat="(id, type) in list">
                    <td><a href="#/resources/{{resourceType}}/{{type.$id}}">{{type.desc}}</a></td>
                    <td></td>
                </tr>
                <form name="frmType">
                    <tr ng-show="isNew || isUpdate">
                        <td>
                            <div class="form-group">
                                <div class="col-md-3 col-lg-2">
                                    <input class="form-control" type="text" name="desc" ng-model="typeUpdate.desc" required="">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#/resources/{{resourceType}}">
                                <button ng-click="update()" ng-disabled="frmType.$invalid" type="submit" class="btn btn-success">Save</button>
                            </a>
                        </td>
                    </tr>
                </form>

            </tbody>
        </table>

    </div>


</div>