<h1>Destruction report</h1>
<hr/>

<div class="row">
    <blockquote>
        <p>Date range: {{rpt.search.from|date:shortDate}} - {{rpt.search.to|date:shortDate}}</p>
    </blockquote>
</div>

<table class="table table-bordered table-striped box-table box-report-content">
    <thead>
    <tr>
        <th>Location</th>
        <th>Department</th>
        <th>Doc Type</th>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th>Checked out by</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="doc in rpt.data.list">
        <td>{{doc.location}}</td>
        <td>{{doc.dept}}</td>
        <td>{{doc.type}}</td>
        <td>{{doc.desc}}</td>
        <td>{{doc.checkout|date:shortDate}}</td>
        <td>{{doc.checkin|date:shortDate}}</td>
        <td>{{doc.checkoutby}}</td>
    </tr>
    </tbody>
</table>