<h1 ng-show="isCheckout" >Checkout report</h1>
<h1 ng-show="isDestruct" >Destruction report</h1>
<h1 ng-show="isInventory" >Inventory report</h1>
<h1 ng-show="isRetention" >Retention report</h1>
<hr/>

<div class="row">
    <form name="frmSearch">
        <label>Date range:</label>
        <input type="date" ng-model="search.dtStart" value="{{search.dtStart}}" />
        <span> to </span>
        <input type="date" ng-model="search.dtEnd" value="search.dtEnd" />
          <span>
                <button ng-click="searchList()" type="submit" class="btn btn-primary">Search</button>
          </span>
    </form>
</div>

<div class="row">
    &nbsp;
</div>


<div ng-show="noRecords" class="row">
    <h4 class="alert alert-danger">No records found</h4>
</div>

<table class="table">
    <tbody>

    <tr ng-repeat="box in list">
        <td>
            <h4>{{box.desc}}</h4>

            <table class="table table-striped box-table box-report-content">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th ng-show="isCheckout">Checked out by</th>
                    <th ng-show="isCheckout || isDestruct">Date</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="doc in box.docs">
                    <td>{{doc.desc}}</td>
                    <td>{{doc.location | lookup:'loc'}}</td>
                    <td>{{doc.dept | lookup:'dept'}}</td>
                    <td ng-show="isCheckout">{{doc.checkoutby | lookup:'emp'}}</td>
                    <td ng-show="isCheckout">{{doc.checkout | date:shortDate}}</td>
                    <td ng-show="isDestruct">{{doc.destruct | date:shortDate}}</td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
</table>

