body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* custom */

.box-btn,
.box-btn-success
{

}

.btn-success.box-btn-success {
    background-color: rgb(66, 139, 202);
    border-color: rgb(66, 139, 202);
}

.docbox-form {
    position: relative;
    padding: 45px 15px 15px;
    /*margin: 0 -15px 15px;*/

    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    /*border-color: #e5e5e5 #eee #eee;*/
    border-style: solid;

    margin-left: 0;
    margin-right: 0;

    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
}


.docbox-form input[type=text],
.docbox-form select
{
    /*display: inline-block;*/
}

.table.box-table {

}

.table.box-table th {
    background-color: rgb(66, 139, 202);
    color: rgb(255, 255, 255);
}

.table.box-table tr {

}

.table.box-table td {

}


.box-doc-checkout {
    content: '';
    padding-top: 2em;
}

.box-report {

}

.box-report .box-report-header {
    padding-top: 1em;
}

